.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.bb(@w: 16px) {
  border-bottom: @w solid #ebebeb;
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.baseWrap {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 88px;
}

.infos_item {
  display: block;
  margin: 0 auto;
  width: 702px;
  box-shadow: 0 2px 6px 0 rgba(74, 74, 74, 0.12);
  margin-bottom: 24px;
  position: relative;
}

@black_gray: #ADADAD;
@black_center : #666666;
@black_high : #333131;
@theme_color : #D12E2E;